# torch ## CONDA USERS DO NOT PIP INSTALL TORCH! See:
# conda install pytorch torchvision torchaudio pytorch-cuda=12.1 -c pytorch-nightly -c nvidia //windows - rtx/geforce + CONDA
# py -m pip install nvidia-pyindex --extra-index-url https://pypi.ngc.nvidia.com
# py -m pip install nvidia-cuda-runtime-cu12 
# nvcc on linux
# bitsandbytes **os-specific**

# wget https://dbeaver.io/files/dbeaver-ce_latest_amd64.deb
# sudo dpkg -i dbeaver-ce_latest_amd64.deb

# sudo apt install nfs-kernel-server //install on SERVER
# systemcl status nfs-kernel-server //check if nfs-kernel-server is running
